<!doctype html>
<html lang="en">
<head></head>
<body>
	<h2>Engagement Data For "{{campaign.url}}"</h2>
	<p><i>As of {{daily_data.timestamp}}</i></p>
	<p>Facebook Shares - {{campaign.facebook_total}}</p>
	<p>Twitter Tweets  - {{campaign.tweets}}</p>
	<p>Stumble Upon Views - {{campaign.stumble}}</p>
	<p>Pinterest Shares - {{campaign.pins}}</p>
	<p><b>YouTube Statistics</b></p>
	<p>Comments - {{campaign.yt_comment_count}}</p>
	<p>Views - {{campaign.yt_view_count}}</p>
	<p>Favorites - {{campaign.yt_fav_count}}</p>
	<p>Likes - {{campaign.yt_like_count}}</p>
	<p>Dislikes - {{campaign.yt_dislike_count}}</p>
	</br>
	
</body>
</html>